'.source.rampcode':
  # base syntax
  'input signal':
    'prefix': '$'
    'body': '$v1$0'
  'set':
    'prefix': 'set'
    'body': 'set ${1:1.0};$2'
  'record':
    'prefix': 'rec'
    'body': 'rec ${1:1};$2'

  # base functions
  'if':
    'prefix': 'if'
    'body': 'if($1, $2, $3)$4'
  'int':
    'prefix': 'int'
    'body': 'int($1)$2'
  'round int':
    'prefix': 'rint'
    'body': 'rint($1)$2'
  'float':
    'prefix': 'float'
    'body': 'float($1)$2'
  'min':
    'prefix': 'min'
    'body': 'min($1, $2)$3'
  'max':
    'prefix': 'max'
    'body': 'max($1, $2)$3'
  'absolute':
    'prefix': 'abs'
    'body': 'abs($1)$2'
  'floor':
    'prefix': 'floor'
    'body': 'floor($1)$2'
  'ceil':
    'prefix': 'ceil'
    'body': 'ceil($1)$2'
  'float modulo':
    'prefix': 'fmod'
    'body': 'fmod($1)$2'

  # power functions
  'power':
    'prefix': 'pow'
    'body': 'pow($1, $2)$3'
  'square root':
    'prefix': 'sqrt'
    'body': 'sqrt($1)$2'
  'cube root':
    'prefix': 'cbrt'
    'body': 'cbrt($1)$2'
  'exponential':
    'prefix': 'exp'
    'body': 'exp($1)$2'
  'exponential minus 1':
    'prefix': 'expm1'
    'body': 'expm1($1)$2'
  'natural logarithm':
    'prefix': 'log'
    'body': 'log($1)$2'
  'natural logarithm plus 1':
    'prefix': 'log1p'
    'body': 'log1p($1)$2'
  'logarithm with base 10':
    'prefix': 'log10'
    'body': 'log10($1)$2'
  'factorial':
    'prefix': 'fact'
    'body': 'fact($1)$2'

  # trigonometric
  'sine':
    'prefix': 'sin'
    'body': 'sin($1)$2'
  'cosine':
    'prefix': 'cos'
    'body': 'cos($1)$2'
  'tangent':
    'prefix': 'tan'
    'body': 'tan($1)$2'
  'arc sine':
    'prefix': 'asin'
    'body': 'asin($1)$2'
  'arc cosine':
    'prefix': 'acos'
    'body': 'acos($1)$2'
  'arc tangent':
    'prefix': 'atan'
    'body': 'atan($1)$2'
  'arc tangent of 2 variables':
    'prefix': 'atan2'
    'body': 'atan2($1, $2)$3'
  'hyperbolic sine':
    'prefix': 'sinh'
    'body': 'sinh($1)$2'
  'hyperbolic cosine':
    'prefix': 'cosh'
    'body': 'cosh($1)$2'
  'hyperbolic tangent':
    'prefix': 'tanh'
    'body': 'tanh($1)$2'
  'inverse hyperbolic sine':
    'prefix': 'asinh'
    'body': 'asinh($1)$2'
  'inverse hyperbolic cosine':
    'prefix': 'acosh'
    'body': 'acosh($1)$2'
  'inverse hyperbolic tangent':
    'prefix': 'atanh'
    'body': 'atanh($1)$2'